.container {
    display: grid;
    grid-template-areas: 
    "header     header      header"
    "left       main        right"
    "footer     footer      footer";
    grid-template-rows: 1fr 1500px 1fr;
    grid-template-columns: 25% 1fr 25%;
}

@media (max-width: 1200px){
    .container {
    display: grid;
    grid-template-areas: 
    "header     header      header"
    "left       main        right"
    "footer     footer      footer";
    grid-template-rows: 1fr 1500px 1fr;
    grid-template-columns: 15% 1fr 15%;
}
}

@media (max-width: 678px){
    .container {
    display: grid;
    grid-template-areas: 
    "header     header"
    "main"
    "footer";
    grid-template-rows: 1fr 1500px 1fr;
    grid-template-columns: 1fr;
}
}


.container div.header {
    grid-area: header;
    background-color: burlywood;
    text-align: center;
}

.container div.left {
    grid-area: left;
    background-color: black;
}
.container div.right {
    grid-area: right;
    background-color: black;
}

.container div.main {
    grid-area: main;
    background-color: green;
    text-align: center;
}

.container div.footer {
    grid-area: footer;
    background-color: blue;
    text-align: center;
}